@apps: app-store, google-play;

.app-download {
    display: flex;
    gap: 8px;

    &__item {
        width: 140px;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 1px;
        transition: border-color .2s;

        &:hover {
            border-color: #fff;
        }

        each(@apps, {
            &_@{value} {
                background-image: url('images/@{value}.svg');
            }
        })
    }
}